<launch>
  <node 
    pkg="livox_camera_calib"
    type="bag_to_pcd"
    name="bag_to_pcd"
    output="screen"
  />
   <param name="bag_file" type="string" value="/mnt/d/大学学习/大三上/CV/Final/cv_project/calibration/livox_bag/1.bag"/>
   <param name="lidar_topic" type="string" value="/livox/lidar"/>
   <param name="pcd_file" type="string" value="/mnt/d/大学学习/大三上/CV/Final/cv_project/calibration/bag2pcd/1.pcd"/>
   <param name="is_custom_msg" type="bool" value="true"/>
</launch>
